* {
	margin:0;
	padding:0
}

#page-wrapper {
	width: 1000px;
	text-align: center;
	margin: 0 auto 0 auto;
	display: block;
	height: 100%vp
}

#form-wrapper {
	float: left;
	width: 500px
}

#form-wrapper form {
	float: left
}

#form-wrapper select{
	width: 200px;
	display: table-cell;
	vertical-align: middle;
	float: left;
	padding: 5px;
	margin: 0 5px 0 0
}

#form-wrapper select option {
	padding: 5px 0 5px 0
}

#form-wrapper select:selected {
	visibility: hidden
}

#form-wrapper .add-rem-button {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	padding: 5px;
	margin: 5px
}

#form-wrapper .form-line input {
	float: left;
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
	line-height: 17px;
	text-align: center;
	width: 40px
}


/*
	firefox minor fixes
*/
@-moz-document url-prefix() {
	#form-wrapper .rem-licence{margin: 4px 0 8px 0!important; padding: 8px}
	#form-wrapper .form-line input{line-height:28px;}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#form-wrapper .rem-licence{
		/*margin-bottom: 16px!important*/
	}
	#form-wrapper .form-line input{
		padding: 6px 0 6px 0;
	}
}
					
#form-wrapper .form-line input, #form-wrapper select {
	border: 2px solid black;
}

#form-wrapper .form-line  {
	float: left;
	width: 100%;
}

#form-wrapper .form-line .inner-line {
	display: table;
	width: 80%;
	padding: 5px 0 5px 0
}

#form-wrapper .rem-licence  {
	background-image: url('img/del-licence.png');
	background-size: 70%;
	background-position: center center;
	padding: 6px;
	opacity: 0.1;
	margin: 0
}

#form-wrapper .rem-licence:hover {
	opacity: 1;
	cursor: pointer
}

#form-wrapper .add-licence:hover {
	background: #E6E6E6;
	cursor: pointer
}

#form-wrapper .add-licence {
	/*background-image: url('img/plus.jpg');*/
	margin-left: 0;
	padding: 0;
	width: 175px;
	border: 2px solid black;
	font-size: 12px;
	line-height: 150%;
	text-indent: 10px;
	font-weight: bold;
	color: black;
}

#form-wrapper .form-line {
	display: block;
	margin-bottom: 40px
}

#form-wrapper form input[type="submit"]{
	background:none;
	width: 80px;
	border: 2px solid black;
	float: left;
	padding:10px;
}

#form-wrapper span#validation-errors {
	color: red;
	line-height: 300%;
	margin-left: 10px
}

#licence-types-table,  #generated-keys-table {
	border: 2px solid black;
	color: black
}

#licence-types-table th,  #generated-keys-table th{
	background-color: white;
	border-bottom: 1px solid grey
}
